*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    height: 1000px;
    border: 5px solid #555;
    background-color: royalblue;
}
.container div{
    line-height: 50px;
    background-color: rgb(214, 95, 95);
    border: 2px solid rgb(255, 100, 191)
}
.block_1{
    position: relative;
    top: 5;
    left: 5;
}
.block_2{
    position: absolute;
    top: 0;
    left: 0;
}
.block_3{
    position: relative;
    z-index: 5;
}
.block_5{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.block_6{
    position: sticky;
    left: 0;
    top: 50px;
}
.container>.j{
    position: absolute;
    bottom: 100px;
    left: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 150px;
}
.f{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 145px;
    left: 145px;
}

.pencil{
    position: absolute;
    z-index: 15;
    right: 30px;
    top: 100px;
    width: 80px;
    height: 50%;
    background-color: rgb(243, 170, 74);
}
.bp1{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: rgb(236, 78, 51);
    box-shadow: inset 0px 6px 15px 2px #FFFFFF;
    border-radius: 120px 150px 0 0;
}

.bp2{
    position: absolute;
    top: 0;
    left: 20px;
    width: 40px;
    height: 100%;
    background-color: rgb(236, 110, 88);
    box-shadow: inset 0px 1px 6px 3px #FFFFFF;
    border-radius: 120px 150px 0 0;
}

.bp3{
    position: absolute;
    top: 0;
    left: 60px;
    width: 20px;
    height: 100%;
    background-color: rgb(236, 110, 88);
    box-shadow: inset 0px 6px 15px 2px #FFFFFF; 
    border-radius: 120px 150px 0 0;
}
.ph{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 80px;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: rgb(235, 223, 223);
    background: rgb(241, 142, 48);
    z-index: 10;
}

.gh{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 40px;
    height: 40px;
    background-color: rgb(233, 73, 73);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

.bp1, .bp2, .bp3{
    animation: anim-pen 5s linear infinite;
}

@keyframes anim-pen{
    0%{
        background-color: rgb(81, 243, 49);
    }
    20%{
        background-color: rgb(61, 108, 236);
    }
    40%{
        background-color: rgb(239, 255, 15);
    }
    60%{
        background-color: rgb(255, 100, 191);
    }
    80%{
        background-color: rgb(238, 15, 238);
    }
    100%{
        background-color: rgb(17, 195, 240);
    }
}